/* Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px; /* Adjust as needed */
    margin-right: 0.5rem;
  }
  
  .navLinks {
    display: flex;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  